# Arquivos de IDE
.idea/
*.iml

# Arquivos de Build Java
/login-backend/target/
/login-backend/*.log

# Arquivos do Node.js
/login-frontend/node_modules/
/login-frontend/dist/
/login-frontend/.vite/
/login-frontend/npm-debug.log
/login-frontend/.env

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db